.home {
  display: flex;
  flex-direction: column;
  gap: 100px;
  margin-bottom: 80px;
}

.hero__wrapper {
  background-color: #618c78;
  .hero {
    display: flex;
    gap: 120px;
    align-items: center;
    @media (max-width: 1370px) {
      gap: 50px;
    }
    @media (max-width: 950px) {
      flex-direction: column;
    }
    &__left,
    &__right {
      width: 50%;
      padding: 90px 0px;
      @media (max-width: 1370px) {
        padding: 50px 0px;
      }
      @media (max-width: 950px) {
        width: 100%;
      }
    }
    .hero__right-media {
      display: none;

      .swiper-button-prev,
      .swiper-button-next {
        top: 50% !important;
      }

      @media (max-width: 950px) {
        display: block;
        width: 100%;
        img {
          width: 100%;
          max-height: 600px;
          height: 100%;
        }
      }
    }
    &__left {
      display: flex;
      flex-direction: column;
      gap: 35px;
      h1 {
        font-size: 60px;
        color: white;
        @media (max-width: 1370px) {
          font-size: 50px;
        }
      }
      button {
        width: 200px;
        background: #cb4a4a;
        color: white;
        border: 1px solid #cb4a4a;
        border-radius: 10px;
        font-weight: 700;
        height: 51px;
        font-size: 18px;
      }
    }
    &__right {
      display: flex;
      gap: 30px;
      position: relative;
      padding-right: 16px;
      @media (max-width: 950px) {
        display: none;
      }
      button {
        position: absolute;
        bottom: 100%;
        left: -10px;
      }
      img {
        width: 50%;
        height: 100%;
      }
    }
  }
}

.home__products {
  .swiper {
    width: 100%;
    height: 100%;
  }
  .mySwiper {
    padding: 40px 0px;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .swiper {
    margin-left: auto;
    margin-right: auto;
  }
  .new__cards {
    display: flex;
    flex-direction: column;
    gap: 50px;
    &__header {
      display: flex;
      align-items: center;
      gap: 32px;
      h2 {
        font-size: 40px;
        font-weight: 700;
      }
      a {
        color: #648e7a;
        border-bottom: 1px solid #648e7a;
        padding-bottom: 3px;
      }
    }
    &__item {
      display: flex;
      flex-direction: column;
      gap: 20px;
      min-height: 450px;
      box-shadow: 0px 0px 10px #00000016;
      border-radius: 10px;
      overflow: hidden;

      .new__cards__item__img {
        background: rgba(158, 158, 158, 0.256);
        width: 100%;
        height: 50%;
        min-height: 225px;
        position: relative;
        .new__cards__item__btns {
          position: absolute;
          top: 20px;
          left: 0px;
          right: 0px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 100%;
          padding-right: 20px;
          z-index: 15;
          span {
            padding: 3px 20px;
            color: white;
            background: #618c78;
          }
          button {
            border: none;
            outline: none;
            background: transparent;
            font-size: 18px;
          }
        }
        a {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          z-index: 9;
          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            border: none;
            outline: none;
          }
        }
      }
      &__info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
        width: 100%;
        padding: 10px;
        h3 {
          font-size: 18px;
          color: #1d1d1d;
        }
        .sena {
          font-size: 14px;
          color: #1d1d1d;
        }
        .rating {
          display: flex;
          align-items: center;
          gap: 10px;
          width: 100%;
          justify-content: space-between;
          &__stars {
            display: flex;
            align-items: center;
            gap: 5px;
            img {
              width: 16px;
              font-size: 16px;
            }
          }
        }
        .price__titles {
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 100px;
          width: 100%;
        }
        .prices {
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 100px;
          h3,
          span {
            display: flex;
            align-items: center;
            gap: 5px;
            img {
              font-size: 14px;
              width: 14px;
            }
          }
          span {
            text-wrap: nowrap;
            font-size: 13px;
            span {
              padding: 2px 4px;
              background: #618c78;
              color: white;
              svg {
                color: white;
              }
            }
          }
        }
      }
    }
  }
}

.swiper-button-next::after,
.swiper-button-prev::after {
  color: black;
  font-size: 15px !important;
  background: #f2f2f2;
  padding: 5px;
  border-radius: 2px;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: 10px !important;
  display: flex;
  align-items: center;
  justify-content: start;

  z-index: 10;
  cursor: pointer;
}
.swiper-button-next::after:hover,
.swiper-button-prev::after:hover {
  transition: 0.3s;
  background: #f2f2f2;
}
